<div class="d-flex justify-content-center align-items-center">
  <%= simple_form_for(tutor) do |f| %>
    <%= f.input :age, placeholder: 'Between 12 to 90' %>
    <%= f.input :gender, collection: ['Male', 'Female'], as: :radio_buttons %>
    <%= f.input :bio, placeholder: 'Type something about yourself' %>
    <%= f.input :activity_status, collection: ['Active', 'Inactive'], as: :radio_buttons %>
    <%= f.association :specialisations %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
