<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/be6sky/image/upload/v1574935101/books_qswx8p.jpg);">
  <div class="container m-0">
    <h1>i2tion</h1>
    <h2>Make a difference in your studies</h2>
    <p>Find a tutor below!</p>

    <%= form_tag tutors_path, class: 'form-inline p-3', id: 'search-form', method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a tutor by specialisation"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="header text-center mt-3">
  <% if @tutors.empty? %>
    <h1 class="bg-info">There are no tutors available!</h1>
  <% else %>
    <h1 class="text-light">Tutors Listings</h1>
  <% end %>
</div>

<div class="d-flex justify-content-around flex-wrap m-1">
  <% @tutors.each do |tutor| %>
    <% if tutor.activity_status == 'Active' %>
      <div class="card-product m-3">
        <% if tutor.photo? %>
          <%= cl_image_tag tutor.photo, height: 300, width: 400, crop: :fill, gravity: :face %>
        <% else %>
          <%= image_tag "https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png", height: 300, width: 400 %>
        <% end %>
        <div class="card-product-infos">
          <div class="d-flex justify-content-between">
            <p><strong>Name</strong>: <%= tutor.user['name'] %></p>
            <% if tutor.user == current_user %>
              <%= link_to 'Myself', tutor_path(tutor), class: "btn btn-sm btn-danger" %>
            <% else %>
              <%= link_to 'View', tutor_path(tutor), class: "btn btn-sm btn-success" %>
            <% end %>
          </div>
          <p><strong>Age</strong>: <%= tutor.age %></p>
          <p><strong>Gender</strong>: <%= tutor.gender %></p>
          <div class="d-inline-block">
            <p><strong>Specialisations</strong>:
              <% tutor.specialisations.first(2).each_with_index do |specialisation, i| %>
                <%= specialisation['name'] %> <%= '|' if tutor.specialisations.count != 1 && i + 1 < 2 %>
              <% end %>
              <%= '...+more' unless tutor.specialisations.count <= 2 %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
