<div class="profile-container d-flex flex-wrap justify-content-center">
  <div class="mr-3 mb-3">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
  </div>

  <div>
    <h5>Name: <%= @tutor.user['name'] %></h5>

    <h5>Age: <%= @tutor.age %></h5>
    <h5>Gender: <%= @tutor.gender %></h5>
    <h5>Bio: <%= @tutor.bio %></h5>
    <h5>Contact (HP): <%= @tutor.user['phone_number'] %></h5>

    <div class="specialization-container alert-info p-3">
      <div class="border-bottom mb-2">
        <h5>Specializations</h5>
      </div>

      <% @tutor.specialisations.each do |specialisation| %>
        <p class="m-0"><%= specialisation['name'] %></p>
      <% end %>
    </div>

    <%= link_to 'Edit', edit_tutor_path(@tutor) %> <br>
    <%= link_to 'Delete', tutor_path(@tutor), method: :delete, data: { confirm: 'Are you sure?' } %> <br>
    <%= link_to 'Book Me!', new_tutor_booking_path(@tutor), class: 'btn btn-primary' %>
  </div>
</div>
