<div class="container d-flex flex-column justify-content-center align-items-center">
  <% @bookings.sort.each do |booking| %>
  <div class="d-flex flex-column my-3">
    <div class="card-product">
      <%= cl_image_tag booking.tutor.photo, width: 300, height: 400, crop: :fill, gravity: :face %>
      <div class="card-product-infos">
      <h2>Booking with <%= booking.tutor.user.name %> </h2>
      <p>Location: <%= booking.location %></p>
      <p>Comments: <%= booking.comments %></p>
      <p>Start: <%= booking.start_datetime %></p>
      <p>End: <%= booking.end_datetime %></p>
      </div>
    </div>
    <div class="btn btn-outline-dark btn-lg">
      <div class="d-flex justify-content-around align-items-center ">
      <h4><%= link_to "ðŸ”", booking_path(booking), class: "btn btn-light" %></h4>
      <h4><%= link_to "ðŸ–‹", edit_tutor_booking_path(booking.tutor, booking.id), class: "btn btn-light" %></h4>
      <h4><%= link_to "ðŸ”¥", tutor_booking_path(booking.tutor, booking.id), method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
