<div class="profile-container d-flex flex-wrap justify-content-center">
  <div class="mr-3 mb-3">
    <% if tutor.photo? %>
      <%= cl_image_tag tutor.photo, height: 200, width: 200, crop: :fill, gravity: :face, radius: :max, format: :png %>
    <% else %>
      <%= image_tag "https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png", height: 200, width: 200 %>
    <% end %>
  </div>

  <div>
    <div class="d-flex justify-content-between border-bottom mb-3">
      <h2 class="text-dark mr-1">Tutor profile</h2>
      <% if tutor == current_user.tutor %>
        <%= link_to edit_tutor_path(tutor) do %>
          <i class="fas fa-edit fa"></i>
        <% end %>
        <%= link_to tutor_path(tutor), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fas fa-trash-alt" style="color: #b86d40"></i>
        <% end %>
      <% end %>
    </div>
    <h5>Name: <%= tutor.user['name'] %></h5>
    <h5>Age: <%= tutor.age %></h5>
    <h5>Gender: <%= tutor.gender %></h5>
    <h5>Bio: <%= tutor.bio %></h5>
    <h5>Activity status: <%= tutor.activity_status %></h5>
    <h5>Contact (HP): <%= tutor.user['phone_number'] %></h5>
  </div>

  <div class="specialization-container alert-info p-3">
    <div class="border-bottom mb-2">
      <h5>Specializations</h5>
    </div>

    <% tutor.specialisations.each do |specialisation| %>
      <p class="m-0"><%= specialisation['name'] %></p>
    <% end %>
  </div>

  <div class="specialization-container alert-info m-3 p-3">
    <div class="border-bottom mb-2 d-flex justify-content-between">
      <% total_stars = 0 %>
      <% tutor.reviews.each do |review| %>
      <% total_stars += review.stars %>
      <% end %>
      <% avg_stars = total_stars.to_f / tutor.reviews.length %>
      <h5>Reviews about this tutor</h5>
      <h5 > <%= avg_stars.floor(1) if !tutor.reviews.blank? %>🌟</h5>
    </div>

      <% tutor.reviews.each do |review| %>
      <p class="m-0">"<%= review.content %>"<br><i> - by <%= review.user.name %></i><br>-------------</p>
    <% end %>
  </div>
</div>
